<div class="container">

  <div class="row">

    <div class="col-md-12 mainDiv">

          <div class="row BC-form">

            <div class="col-md-6 ">

              <div class="form-group input-group">

                <label class="input-group-text">Nom Du fournisseur:</label>
                <input type="text" class="form-control" placeholder="Nom Du fournisseur * " value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">Adresse : </label>
                <input type="text" class="form-control" placeholder="Adresse " value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">Rc N:</label>
                <input type="text" class="form-control" placeholder=" RC N°" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">Patente N:</label>
                <input type="text" class="form-control"  placeholder="Patente N°" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">IF N :</label>
                <input type="text" class="form-control"  placeholder="IF N°" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">CNSS :</label>
                <input type="text" class="form-control"  placeholder="CNSS N°" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">Compte bancaire:</label>
                <input type="text" class="form-control"  placeholder="Compte" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">ICE:</label>
                <input type="text" class="form-control"  placeholder="ICE N°" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">Devis N :</label>
                <input type="text" class="form-control"  placeholder="Devis N°" value="" />
              </div>

            </div>


            <div class="col-md-6">
              <div class="form-group input-group">
                <label class="input-group-text">Exercice:</label>
                <input type="text" class="form-control" placeholder="Exercice " value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">Budget:</label>
                <input type="text"  name="Budget" class="form-control" placeholder="Budget" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">par :</label>
                <input type="text"  name="PAR" class="form-control" placeholder="PAR" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">lrg :</label>
                <input type="text"  name="LRG" class="form-control" placeholder="lrg" value="" />
              </div>
              <div class="form-group input-group">
                <label class="input-group-text">ligne :</label>
                <input type="text"  name="Ligne" class="form-control" placeholder="ligne" value="" />
              </div>

              <input type="submit" class="submit"  value="OK"/>
            </div>
          </div>
    </div>
  </div>
</div>
